# at first I don't know what config was appropriate for freebsd, so I let Gemini
# generate a "appropriate" config for me.

include GENERIC

ident SYZPILOT

options COVERAGE
options KCOV
options KASAN

options INVARIANTS
options INVARIANT_SUPPORT

options	WITNESS

options	DIAGNOSTIC

makeoptions	DEBUG=-g
